// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*top*/

.japan-map {
  width: 50%;
  background-color: white;
  .map {
    width: 100%;
    padding: 20px;
  }
}

.tag-ranking {
  width: 40%;
  height: 100px;
  background-color: tomato;
  margin-left: 5%;
}
